/** ------------------------------------- -->
/** CSS COMBINATORS
/** ---------------------------------------- --> */

/** CSS combinators are used to define relationships between different elements in your HTML document. They allow you to target elements based on their position and hierarchy within the document structure.  */

/*? Descendant Selector (Space): Selects an element that is a descendant of another element. */

/*? Child Selector (>): Selects an element that is a direct child of another element. */

/*? Adjacent Sibling Selector (+): Selects an element that is immediately preceded by another element. */

/*? General Sibling Selector (~): Selects all elements that are siblings of another element and share the same parent. */

/*? Universal Selector (*): Selects all elements. */

/*---------------- Descendant Selector----------------------------*/
ul p{
    color: rgb(1, 109, 152);
}
ul li {
    color: pink;
}
/*---------------- Child Selector----------------------------*/
.box > ul > li {
    color: blueviolet;
}
/*---------------- Adjacent Sibling Selector----------------------------*/
.box ul p + li {
    color: brown;
}
/*---------------- General Sibling Selector----------------------------*/
.box ul p ~ li {
    color: rgb(194, 160, 9);
}