* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    background-color: rgb(1, 98, 127);
    width: 90%;
    height: auto;

    display: grid;
    /* grid-template-rows: 250px 250px; */
    /* grid-template-rows: repeat(2, 250px); */
    grid-auto-rows: 250px;

    /* grid-template-columns: 250px 250px 1fr; */
    /* grid-template-columns: repeat(3, 1fr); */

    /* Text Properties */
    /* grid-template-columns: 1fr min-content repeat(1,1fr); */
    /* grid-template-columns: 1fr max-content repeat(1,1fr); */
    /* grid-template-columns: 1fr minmax(250px, 1fr) repeat(1,1fr); */
    /* grid-template-columns: repeat(3, minmax(250px, 1fr)); */


    /* auto-fill Creates as many columns as possible,
    even if some remain empty.
     auto-fit Creates only the needed columns and expands them by collapsing any empty columns. */
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));


    row-gap: 10px;
    column-gap: 20px;
    /* padding: 10px; */

    /* align-items: stretch;
    justify-items: stretch; */

}

.grid-items {
    /* width: 100px;
    height: 100px; */
    background-image: linear-gradient(to right, rgb(245, 79, 107), purple);
    padding: 10px;
    border: 2px solid rgb(20, 249, 4);
}

p {
    text-align: center;
}

.one {
    /* grid-row-start: 2;
    grid-row-end: 3; */
    /* grid-row: 2/3; */

    /* grid-column-start: 2;
    grid-column-end: 3; */
    /* grid-column: 2/3; */

    /* row-start,column-start,row-end,column-end */
    /* grid-area: 2 / 2 / 3 / 3; */

    color: wheat;
}

.three {
    /* grid-area: 1/2/2/4; */
    color: aqua;
}