/* <Container queries enable you to apply styles to an element based on the size of the element's container. -->

< container-type: The container-type CSS property is used to define the type of containment used in a container query. -->
< container-type: normal;
container-type: size;  x axis and x axis
container-type: inline-size; */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */

/* 
.container,
.media {
    width: 80%;
    height: auto;
    background-color: skyblue;
    border: 2px solid rgb(0, 76, 94);
    margin-bottom: 20px;
    margin-right: 100px;

    & .grid {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        grid-auto-rows: 200px;
        gap: 20px;

        & .img-box,
        .para-box {
            background-image: linear-gradient(to right, rgb(245, 79, 107), purple);
            border: 2px solid rgb(20, 249, 4);

        }
    }

    & p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        color: rgb(6, 86, 118);
        text-shadow: 0px 0px 3px rgb(7, 226, 234);
        text-align: center;
        text-transform: uppercase;
    }
}
.img-box{
    display: flex;
    flex: 1;
}
img {
    width: 100%;
    height: auto;
}

.container {
    container-type: inline-size;
    container-name: changeColumn;
}

@container changeColumn (width <=600px) {
    .container .grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

        & p {
            padding-block: 10px;
        }
    }
}

@media (width <=600px) {
    .media .grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));


        & p {
            padding-block: 10px;
        }
    }
} */



/* Second way with max-width and width 100% */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: antiquewhite;

    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}

.container,
.media {
    /* margin: auto; */
    /* width: 100%; */
    max-width: 600px;
    height: auto;
    background-color: skyblue;
    border: 2px solid rgb(0, 76, 94);
    margin-bottom: 20px;
    margin-right: 100px;

    & .grid {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        grid-auto-rows: 200px;
        gap: 20px;

        & .img-box,
        .para-box {
            background-image: linear-gradient(to right, rgb(245, 79, 107), purple);
            border: 2px solid rgb(20, 249, 4);

        }
    }

    & p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        color: rgb(6, 86, 118);
        text-shadow: 0px 0px 3px rgb(7, 226, 234);
        text-align: center;
        text-transform: uppercase;
    }
}

.img-box {
    display: flex;
    flex: 1;
}

img {
    width: 100%;
    height: auto;
}

.container {
    container-type: inline-size;
    container-name: changeColumn;
}

@container changeColumn (width <=500px) {
    .container .grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        /* grid-template-columns: 1fr; */


        & p {
            padding-block: 10px;
        }
    }
}

@media (width <=500px) {
    .media .grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        /* grid-template-columns: 1fr; */
        & p {
            padding-block: 10px;
        }
    }
}



/* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */

/* Badi jagah:
[box][box][box][box]

Chhoti jagah:
[box][box]

Aur chhoti:
[box]
[box] */